.map__img{
  display: block;
  margin: auto;
  max-width: 60%;
  height: auto;
}

@media screen and (max-width: 805px) {
  .map__img{
    max-width: 80%;
  }
}

@media screen and (max-width: 805px) {
  .map__img{
    max-width: 100%;
  }
}
