.menu__content{
  display: flex;
  justify-content: center;

  margin: auto;
  padding: 30px 30px;
  gap: 30px;
  /*border: 1px solid #000;*/
}

@media screen and (max-width: 1028px) {
  .menu__content{
    gap: 10px;
  }
}

@media screen and (max-width: 824px) {
  .menu__content{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(2, 150px);
  }
}

@media screen and (max-width: 470px) {
  .menu__content{
    display: grid;
    align-items: center;
    justify-content:space-around;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(3, 150px);
  }
}
