.why__img{
  width: 60px;
  height: auto;
  margin: 0 35px 0 0;
}

@media screen and (max-width: 805px) {
  .why__img{
    margin: 0 15px 0 0;
  }
}

@media screen and (max-width: 505px) {
  .why__img{
    width: 40px;
    height: auto;
  }
}
