.map{
  background-color: rgb(13, 37, 47, 0.7);
  padding: 0 0 50px 0;
}

@media screen and (max-width: 805px) {
  .map{
    padding: 0 30px 25px;
  }
}

@media screen and (max-width: 450px) {
  .map{
    padding: 0 15px 25px;
  }
}
