.header{
  width: 100%;
  /*background-image: url(../../images/background.jpg);*/
  /*background-color: rgb(47, 88, 61);*/
  /*background-size: cover;
  background-position: center;*/
  /*background-color: rgb(41, 107, 79, 0.3);*/
  background-repeat: no-repeat;
  padding: 20px 0 20px;
}
@media screen and (max-width: 606px) {
  .header{
    padding: 20px 30px;
  }
}
@media screen and (max-width: 505px) {
  .header{
    padding: 20px 15px;
  }
}
