.form__input{
  padding: 10px 5px;
  border: 3px solid rgb(174, 176, 176);
  border-radius: 5px;
  margin: 5px 0 20px 0;
  width: 300px;
}

input:focus{
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}

@media screen and (max-width: 400px) {
  .form__input{
    width: 250px;
  }
}
