.works__list{
  font-size: 24px;
  line-height: 1.5;
}

.works__list::before{
  content: "";
  margin: 0 10px 0 0;
  border: 2px solid  rgb(13, 37, 47, 0.7);
  background-color: rgb(174, 176, 176);
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
}

@media screen and (max-width: 805px) {
  .works__list{
    font-size: 14px;
  }

  .works__list::before{
    content: "";
    margin: 0 10px 0 0;
    border: 2px solid  rgb(13, 37, 47, 0.7);
    background-color: rgb(174, 176, 176);
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
  }
}
