.clien__title{
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  .clien__title{
    font-size: 32px;

  }
}
@media screen and (max-width: 805px) {
  .clien__title{
    font-size: 24px;
  }
}

@media screen and (max-width: 430px) {
  .clien__title{
    font-size: 18px;
  }
}
